* {
  margin: 0;
  padding: 0;
}

:root {
  --color-logo: #4d5ae5;
  --color-section1: #2e2f42;
  --color-footer: #f4f4fd;
  --color-paragraph: #434455;
  --color-portfolio: #e7e9fc;
}

body{
  font-family: Roboto, sans-serif;
  color: #434455;
  line-height: 1.33;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

ul,
ol {
list-style-type: none;
padding: 0;
margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img{
  display:block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}

.container{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.page-nav{
  display: flex;
  align-items: center;
}

.menu{
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;

}

.logo{
  color: #4D5AE5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-right: 76px;
}

.logo2{
  color:#2E2F42;

}

.menu-link{
  font-size:16px;
  font-weight: 500;
  color:#2E2F42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.link-first {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.link-first::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-link:hover, .menu-link:focus, .menu-link:active{
  color: #404BBF;

}

.contact{
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.info{
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info{
  color: #434455;
  font-size:16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-info:hover, .contact-info:focus, .contact-info:active {
  color: #404BBF;

}

/* ================== MOBILE MENU ================== */
.mobile-menu {
display: flex;
flex-direction: column;
position: fixed;
padding: 72px 16px 40px;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #fff;
visibility: hidden;
opacity: 0;
z-index: 1;
transition: opacity 250ms, visibility 250ms;
}

.mobile-menu-btn {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
margin-bottom: auto;
}

.mobile-nav-list {
display: flex;
flex-direction: column;
gap: 40px;
}

.mobile-nav-link {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}

.mobile-nav-link.first {
color: #404bbf;
}

.mobile-address {
display: flex;
flex-direction: column;
gap: 24px;
font-style: normal;
}

.mobile-address-link {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}

.mobile-address-link.first {
color: #4d5ae5;
}

.mobile-social-media {
display: flex;
gap: 40px;
margin-top: 48px;
}

.mobile-social-media .social-element {
width: 40px;
height: 40px;
}

.mobile-social-media .social-link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-media .social-link:hover,
.mobile-social-media .social-link:focus {
background-color: #404bbf;
}

.mobile-social-media .social-icon {
fill: #f4f4fd;
}

/* SECTION 1*/

.order-service{
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-mobile.jpg);
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.order-service-button{
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover, .order-service-button:focus{
  background-color:#404BBF;

}

.order-header{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 72px auto;
  max-width: 216px;

}

@media (min-resolution: 192dpi) {
  .order-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-mobile@2x.jpg);
  }
}

/* SECTION 2*/

.advantages {
  padding: 96px 0;
}

.values-list{
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.values-list-item{
  width: 100%;
}

.values-icons-box{
  display: none;
}

.our-values{
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.values-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SECTION 3*/

.our-team-section{
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team{
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.photo-frame{
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  max-width: 264px;
}

.photo-cont{
  padding: 32px 0px 32px 0px;
}

.team-info-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-info-text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-member-socials{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.member-socials-list-item{
  width: 40px;
height: 40px;
}

.member-social-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link:hover,
.member-social-link:focus {
background-color: #404bbf;
}

.member-social-icon{
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/* SECTION 4*/

.portfolio{
  padding: 96px 0px;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list{
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-list-item{
  width: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-image-overlay{
  transform: translateY(0);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image{
  position: relative;
  overflow: hidden;
}

.portfolio-image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-info-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER*/

.page-footer{
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4D5AE5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo2{
  color:#f4f4fd;
}

.footer-text{
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-info{
  display: flex;
align-items: baseline;
}

.footer-left{
  text-align: center;
  margin-bottom: 72px;
}

.footer-socials{
  align-items: center;
  margin-bottom: 72px;
}

.footer-socials-title{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;

}

.footer-socials-list{
  display: flex;
gap: 16px;
justify-content: center;
}

.footer-socials-list-element{
  width: 40px;
height: 40px;
}

.footer-socials-link{
  width: 100%;
height: 100%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.footer-socials-link-icon{
  fill: #f4f4fd;
width: 24px;
height: 24px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
background-color: #31d0aa;
}

.sub-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-footer {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.6;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.input-footer ::placeholder {
  color: #ffffff;
}

.button-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-sub-icon {
  margin-left: 16px;
}

/* modal  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus {
  background-color: #404bbf;
  border: none;
}

.button-close:hover{
  background-color: #404bbf;
  border: none;
}

.button-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close-icon {
  fill: #ffffff;
}

.button-close:focus .button-close-icon{
  fill: #ffffff;
}

.paragraph-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-section1);
  margin-bottom: 16px;
  color: #2E2F42;
}

.div-modal-form {
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.div-modal-label {
  position: relative;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}

.input-modal:focus {
  border-color:#4d5ae5;
}

.input-modal:focus + svg {
  fill: #4d5ae5;
}

.input-modal:focus > svg {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-modal-four {
  margin-bottom: 16px;
}

.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}

.textarea-modal::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.div-modal-five {
  margin-bottom: 24px;
}

.label-modal-five {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-label {
  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.link-modal {
  color: #4d5ae5;
}

.button-modal-six {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-six:focus,
.button-modal-six:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-check:checked + .label-modal-five span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check:checked + .label-modal-five > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check:checked + .label-modal-five > .span-label {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check:focus + .label-modal-five > .span-label{
  outline: 2px solid rgba(0, 0, 255, 0.5);

}

.modal-check:focus > modal-icon-check{
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.is-open {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .contact {
    display: none;
  }

}

/* TABLET  */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* --HEADER-- */
  .header-container {
    min-height: 72px;
  }

  .logo {
    display: flex;
    margin-right: 120px;
  }

  .contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 16px;
  }

  .contact-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-info-link:hover,
  .contact-info-link:focus {
    color: #404bbf;
  }

  .hamburger {
    display: none;
  }

  /* --TOP-- */
  .order-service {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tablet.jpg);
  }

  .order-header {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
    max-width: 496px;
  }

  @media (min-resolution: 192dpi) {
    .order-service {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-tablet@2x.jpg);
    }
  }

  /* --SECTION ADVANTAGES-- */
  .values-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .values-list-item {
    width: calc((100% - 24px) / 2);
  }

  .our-values {
    text-align: left;
  }

  /* --SECTION TEAM-- */
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .photo-frame {
    width: auto;
  }

  /* --SECTION PORTFOLIO-- */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
    
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* --SECTION FOOTER-- */
  .page-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer-left {
    width: calc((100% - 24px) / 2);
    text-align: left;
    max-width: 264px;
  }

  .footer-left .footer-text {
    max-width: 264px;
  }

  .footer-socials-title {
    text-align: left;
  }

  .sub-p {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 24px;
  }

  .footer-form .input-footer {
    max-width: 264px;
  }

  /* --MODAL-- */
  .modal-box {
    min-width: 408px;
    min-height: 584px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* --HEADER-- */
  .header-container {
    min-height: 72px;
  }

  .logo {
    position: relative;
    top: auto;
    margin-right: 76px;
  }

  .contact {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
    margin-right: 156px;
  }

  .contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* --TOP-- */
  .order-service {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-desktop.jpg);
  }

  .order-header {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 48px auto;
  }

  @media (min-resolution: 192dpi) {
    .order-service {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-desktop@2x.jpg);
    }
  }

  /* --SECTION ADVANTAGES-- */
  .advantages {
    padding: 120px 0;
  }

  .values-list {
    display: flex;
    gap: 24px;
  }

  .values-list-item {
    width: calc((100% - 72px) / 4);
  }

  .values-icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid;
  }

  .our-values {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
  }

  .values-text {
    font-weight: 400;
  }

  /* --SECTION TEAM-- */
  .our-team-section {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /* --SECTION PORTFOLIO-- */
  .portfolio {
    padding: 120px 0px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: auto;
  }

  /* --SECTION FOOTER-- */
  .page-footer {
    padding: 100px 0;
  }

  .page-footer .container {
    align-items: baseline;
    justify-content: space-between;
    padding-left: 15px;
    column-gap: 0px;
    display: flex;
    flex-direction: row;
  }

  .footer-left {
    text-align: left;
    width: calc((100% - 72px) / 4);
  }

  .footer-socials-title {
    text-align: left;
  }

  .footer-socials-list {
    margin-bottom: none;
  }

  .sub-p {
    text-align: left;
  }

  /* --MODAL-- */
  .input-modal:focus {
    border-color: #4d5ae5;
  }

  .input-modal:focus + svg {
    fill: #4d5ae5;
  }

  .textarea-modal:focus {
    border-color: #4d5ae5;
  }
}